<html>
    <head>
        <meta charset="utf-8">
        {% if cdn_resources=="local" %}
            <script src="lib/bindings/utils.js"></script>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis-network/9.1.2/dist/dist/vis-network.min.css" integrity="sha512-WgxfT5LWjfszlPHXRmBWHkV2eceiWTOBvrKCNbdgDYTHrT2AeLCGbF4sZlZw3UMN3WtL0tGUoIAKsu8mllg/XA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
            <script src="https://cdnjs.cloudflare.com/ajax/libs/vis-network/9.1.2/dist/vis-network.min.js" integrity="sha512-LnvoEWDFrqGHlHmDD2101OrLcbsfkrzoSpvtSQtxK3RMnRV0eOkhhBN2dXHKRrUU8p2DGRTk35n4O8nWSVe1mQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            {% if select_menu or filter_menu %}
                <link href="lib/tom-select/tom-select.css" rel="stylesheet">
                <script src="lib/tom-select/tom-select.complete.min.js"></script>
            {%  endif %}
        {% elif cdn_resources=="in_line" %}
            <script>{%  include 'lib/bindings/utils.js' %}</script>
            <style>{%  include 'lib/vis-9.1.2/vis-network.css' %}</style>
            <script>{%  include 'lib/vis-9.1.2/vis-network.min.js' %}</script>
            {% if select_menu or filter_menu %}
                <style>{%  include 'lib/tom-select/tom-select.css' %}</style>
                <script>{%  include 'lib/tom-select/tom-select.complete.min.js' %}</script>
            {%  endif %}
        {%  elif cdn_resources=="remote" %}
            <script>{%  include 'lib/bindings/utils.js' %}</script>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis-network/9.1.2/dist/dist/vis-network.min.css" integrity="sha512-WgxfT5LWjfszlPHXRmBWHkV2eceiWTOBvrKCNbdgDYTHrT2AeLCGbF4sZlZw3UMN3WtL0tGUoIAKsu8mllg/XA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
            <script src="https://cdnjs.cloudflare.com/ajax/libs/vis-network/9.1.2/dist/vis-network.min.js" integrity="sha512-LnvoEWDFrqGHlHmDD2101OrLcbsfkrzoSpvtSQtxK3RMnRV0eOkhhBN2dXHKRrUU8p2DGRTk35n4O8nWSVe1mQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            {#            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis-network/9.0.4/dist/dist/vis-network.min.css" integrity="sha512-+5tJeVsSE2tSnmKB5SWOD0GsYA5dOP0B/FSv7I2GYhdOcyjJq81Q1St3qgJgInwreAdNuw0KGJ0FOaxOJ0E4yw==" crossorigin="anonymous" referrerpolicy="no-referrer" />#}
            {#            <script src="https://cdnjs.cloudflare.com/ajax/libs/vis-network/9.0.4/dist/vis-network.js"#}
            {#                integrity="sha512-CEbUhbSq35hCqBH8ckfAkH1Tcua5NEywtEzwiJ+BUC4EIZkC7vyta3ivZu/WqJhK1qHTurO3hwHsErU3HHjwIA=="#}
            {#                crossorigin="anonymous"#}
            {#                referrerpolicy="no-referrer"></script>#}
            {% if select_menu or filter_menu %}
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tom-select/2.0.0-rc.4/css/tom-select.min.css" integrity="sha512-43fHB3GLgZfz8QXl1RPQ8O66oIgv3po9cJ5erMt1c4QISq9dYb195T3vr5ImnJPXuVroKcGBPXBFKETW8jrPNQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
                <script src="https://cdnjs.cloudflare.com/ajax/libs/tom-select/2.0.0-rc.4/js/tom-select.complete.js" integrity="sha512-jeF9CfnvzDiw9G9xiksVjxR2lib44Gnovvkv+3CgCG6NXCD4gqlA5nDAVW5WjpA+i+/zKsUWV5xNEbW1X/HH0Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            {%  endif %}

        {% endif %}
<center>
<h1>{{heading}}</h1>
</center>

<!-- <link rel="stylesheet" href="../node_modules/vis/dist/vis.min.css" type="text/css" />
<script type="text/javascript" src="../node_modules/vis/dist/vis.js"> </script>-->
        <link
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
          crossorigin="anonymous"
        />
        <script
          src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
          crossorigin="anonymous"
        ></script>


        <center>
          <h1>{{heading}}</h1>
        </center>
        <style type="text/css">

             #mynetwork {
                 width: {{width}};
                 height: {{height}};
                 background-color: {{bgcolor}};
                 border: 1px solid lightgray;
                 position: relative;
                 float: left;
             }

             {% if nodes|length > 100 and physics_enabled %}
             #loadingBar {
                 position:absolute;
                 top:0px;
                 left:0px;
                 width: {{width}};
                 height: {{height}};
                 background-color:rgba(200,200,200,0.8);
                 -webkit-transition: all 0.5s ease;
                 -moz-transition: all 0.5s ease;
                 -ms-transition: all 0.5s ease;
                 -o-transition: all 0.5s ease;
                 transition: all 0.5s ease;
                 opacity:1;
             }

             #bar {
                 position:absolute;
                 top:0px;
                 left:0px;
                 width:20px;
                 height:20px;
                 margin:auto auto auto auto;
                 border-radius:11px;
                 border:2px solid rgba(30,30,30,0.05);
                 background: rgb(0, 173, 246); /* Old browsers */
                 box-shadow: 2px 0px 4px rgba(0,0,0,0.4);
             }

             #border {
                 position:absolute;
                 top:10px;
                 left:10px;
                 width:500px;
                 height:23px;
                 margin:auto auto auto auto;
                 box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
                 border-radius:10px;
             }

             #text {
                 position:absolute;
                 top:8px;
                 left:530px;
                 width:30px;
                 height:50px;
                 margin:auto auto auto auto;
                 font-size:22px;
                 color: #000000;
             }

             div.outerBorder {
                 position:relative;
                 top:400px;
                 width:600px;
                 height:44px;
                 margin:auto auto auto auto;
                 border:8px solid rgba(0,0,0,0.1);
                 background: rgb(252,252,252); /* Old browsers */
                 background: -moz-linear-gradient(top,  rgba(252,252,252,1) 0%, rgba(237,237,237,1) 100%); /* FF3.6+ */
                 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,252,252,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
                 background: -webkit-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
                 background: -o-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
                 background: -ms-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(237,237,237,1) 100%); /* IE10+ */
                 background: linear-gradient(to bottom,  rgba(252,252,252,1) 0%,rgba(237,237,237,1) 100%); /* W3C */
                 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
                 border-radius:72px;
                 box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
             }
             {% endif %}

             {% if conf %}
             #config {
                 float: left;
                 width: 400px;
                 height: 600px;
             }
             {% endif %}

             {% if tooltip_link %}
             /* position absolute is important and the container has to be relative or absolute as well. */
          div.popup {
                 position:absolute;
                 top:0px;
                 left:0px;
                 display:none;
                 background-color:#f5f4ed;
                 -moz-border-radius: 3px;
                 -webkit-border-radius: 3px;
                 border-radius: 3px;
                 border: 1px solid #808074;
                 box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
          }

          /* hide the original tooltip */
          .vis-tooltip {
            display:none;
          }
             {% endif %}
        </style>
    </head>


    <body>
        <div class="card" style="width: 100%">
            {% if dse_menu %}
            <div id="dse-options" class="card-header">
                <div class="row no-gutters">
                    <div class="col-md-6">
                        <input type="range" class="form-range" min="0" max="25" step="1" value="0" onchange="updateStep(value);" id="stepRange" />
                    </div> 
                    <div class="col-md-2">
                        <span class="text-center" id="stepValue">
                            Step: 0
                        </span>
                    </div>
                    <div class="col-md-4">
                      <div class="form-check form-switch">
                          <input class="form-check-input" type="checkbox" id="utilizationCheckbox" onChange="updateUtilization();" checked>
                          <label class="form-check-label" for="utilizationCheckbox">
                              Show Utilizations
                          </label>
                      </div>
                      <div class="form-check form-switch">
                          <input class="form-check-input" type="checkbox" 
                          onChange="updateProbability();"
                          id="probabilityCheckbox">
                          <label class="form-check-label" for="probabilityCheckbox">
                              Show Probabilities
                          </label>
                      </div>
                  </div>
                </div>
                <div class="row no-gutters">
                    <div class="col-lg-2 mx-1 border bg-dark border-dark rounded">
                        <span class="text-white" id="rewardText">
                            Reward:    
                        </span>
                    </div>
                    <div class="col-lg-2 mx-1 border bg-dark border-dark rounded">
                        <span class="text-white" id="areaText">
                            Area:    
                        </span>
                    </div>
                    <div class="col-lg-2 mx-1 border bg-dark border-dark rounded">
                        <span class="text-white" id="performanceText">
                            Performance:    
                        </span>
                    </div>
                    <div class="col-lg-2 mx-1 border bg-dark border-dark rounded">
                        <span class="text-white" id="coresText">
                            Cores:    
                        </span>
                    </div>
                    <div class="col-lg-2 mx-1 border bg-dark border-dark rounded">
                        <span class="text-white" id="utilizationText">
                            Utilization:    
                        </span>
                    </div>
                </div>
            </div>
            {% endif %}

            {% if ml_menu %}
                <div id="ml-menu" class="card-header">
                    <div class="row no-gutters">
                        <div class="col-md-8">
                            <select
                                class="form-select"
                                onchange="selectDFG([value]);"
                                id="select-dfg"
                                placeholder="Select DFG..."
                                >
                                {% for dfg in dfg_files %}
                                    <option value="{{ dfg }}">{{dfg}}</option>
                                {% endfor %}
                          </select>
                        </div>
                        <div class="col-md-4">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="utilizationCheckbox" onChange="updateUtilization();" checked>
                                <label class="form-check-label" for="utilizationCheckbox">
                                    Show Utilizations
                                </label>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" 
                                onChange="updateProbability();"
                                id="probabilityCheckbox">
                                <label class="form-check-label" for="probabilityCheckbox">
                                    Show Probabilities
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-md-9">
                            <input type="range" class="form-range" min="0" max="25" step="1" value="0" onchange="updateStep(value);" id="stepRange" />
                        </div> 
                        <div class="col-md-2">
                            <span class="text-center" id="stepValue">
                                Base ADG
                            </span>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-lg-2 mx-1 border bg-dark border-dark rounded">
                            <span class="text-white" id="rewardText">
                                Reward:    
                            </span>
                        </div>
                        <div class="col-lg-2 mx-1 border bg-dark border-dark rounded">
                            <span class="text-white" id="overprovText">
                                Overprov:    
                            </span>
                        </div>
                        <div class="col-lg-2 mx-1 border bg-dark border-dark rounded">
                            <span class="text-white" id="violationText">
                                Violation:    
                            </span>
                        </div>
                        <div class="col-lg-2 mx-1 border bg-dark border-dark rounded">
                            <span class="text-white" id="latencyText">
                                Latency:    
                            </span>
                        </div>
                        <div class="col-lg-2 mx-1 border bg-dark border-dark rounded">
                            <span class="text-white" id="linksText">
                                Links:    
                            </span>
                        </div>
                    </div>
                </div>
            {% endif %}


            {% if select_menu %}
                <div id="select-menu" class="card-header">
                    <div class="row no-gutters">
                        <div class="col-10 pb-2">
                            <select
                            class="form-select"
                            aria-label="Default select example"
                            onchange="selectNode([value]);"
                            id="select-node"
                            placeholder="Select node..."
                            >
                                <option selected>Select a Node by ID</option>
                                {% for node in nodes %}
                                    <option value="{{ node.id }}">{{node.id}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-2 pb-2">
                            <button type="button" class="btn btn-primary btn-block" onclick="neighbourhoodHighlight({nodes: []});">Reset Selection</button>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if filter_menu %}
              <div id="filter-menu" class="card-header">
                <div class="row no-gutters">
                  <div class="col-3 pb-2">
                    <select
                            class="form-select"
                            aria-label="Default select example"
                            onchange="updateFilter(value, 'item')"
                            id="select-item"
                        >
                        <option value="">Select a network item</option>
                        <option value="edge">edge</option>
                        <option value="node">node</option>
                    </select>
                  </div>
                  <div class="col-3 pb-2">
                    <select
                            class="form-select"
                            aria-label="Default select example"
                            onchange="updateFilter(value, 'property')"
                            id="select-property"
                        >
                        <option value="">Select a property...</option>
                    </select>
                  </div>
                  <div class="col-3 pb-2">
                    <select
                            class="form-select"
                            aria-label="Default select example"
                            id="select-value"
                        >
                        <option value="">Select value(s)...</option>
                    </select>
                  </div>
                  <div class="col-1 pb-2">
                    <button type="button" class="btn btn-primary btn-block" onclick="highlightFilter(filter);">Filter</button>
                  </div>
                  <div class="col-2 pb-2">
                    <button type="button" class="btn btn-primary btn-block" onclick="clearFilter(true)">Reset Selection</button>
                  </div>
                </div>
              </div>
            {% endif %}
            <div id="mynetwork" class="card-body"></div>
        </div>

        {% if nodes|length > 100 and physics_enabled %}
            <div id="loadingBar">
              <div class="outerBorder">
                <div id="text">0%</div>
                <div id="border">
                  <div id="bar"></div>
                </div>
              </div>
            </div>
        {% endif %}
        {% if conf %}
            <div id="config"></div>
        {% endif %}

        <script type="text/javascript">

              // initialize global variables.
              var edges;
              var nodes;
              var allNodes;
              var allEdges;
              var nodeColors;
              var originalNodes;
              var network;
              var container;
              var options, data;
              var filter = {
                  item : '',
                  property : '',
                  value : []
              };

              {% if select_menu %}
                  new TomSelect("#select-node",{
                      create: false,
                      sortField: {
                          field: "text",
                          direction: "asc"
                      }
                  });
              {%  endif %}

              {% if dse_menu %}
                var dse_info = {{dse_info|safe}};

                var dse_options = {
                    showUtilization : false,
                    showProbability : false,
                    step : 0,
                }

                if (window.addEventListener) {
                    window.addEventListener('load',setDefaultValues, false); //W3C
                } else {
                    window.attachEvent('onload',setDefaultValues); //IE
                }
                
                let utilization_checkbox = document.getElementById("utilizationCheckbox");
                let probability_checkbox = document.getElementById("probabilityCheckbox");
                let step_slider = document.getElementById("stepRange");
                let step_text = document.getElementById("stepValue");

                let reward_text = document.getElementById("rewardText");
                let area_text = document.getElementById("areaText");
                let performance_text = document.getElementById("performanceText");
                let core_text = document.getElementById("coresText");
                let utilization_text = document.getElementById("utilizationText");


                function setDefaultValues() {
                    utilization_checkbox.checked = dse_options['showUtilization'];
                    probability_checkbox.checked = dse_options['showProbability'];
                    step_slider.value = dse_options['step'];
                    step_text.innerHTML = "Step: " + dse_options['step'];

                    updateText(dse_options['step']);
                    updateEdgeHidden(dse_options['step']);
                    updateNodeHidden(dse_options['step']);
                    setSliderMax();
                }

                function setSliderMax() {
                    step_slider.max = dse_info['steps'];
                }

                function updateStep(value) {
                    new_step = parseInt(value);
                    if (new_step != dse_options['step']) {
                        dse_options['step'] = new_step;
                        step_text.textContent = "Step " + value;
                        
                        updateText(new_step)
                        updateEdgeHidden(new_step);
                        updateNodeHidden(new_step);
                    }
                }

                function updateText(step) {
                    reward_text.textContent = "Reward: " + dse_info['rewards'][step].toFixed(2);
                    area_text.textContent = "Area: " + dse_info['area'][step].toFixed(2);
                    performance_text.textContent = "Performance: " + dse_info['performance'][step].toFixed(2);
                    core_text.textContent = "Cores: " + dse_info['cores'][step].toFixed(2);
                    utilization_text.textContent = "Utilization: " + dse_info['utilization'][step].toFixed(2);
                }
    

                function updateEdgeHidden(step) {
                    var updateEdgeArray = [];
                    for (let edgeId in allEdges) {
                        if (!allEdges.hasOwnProperty(edgeId)) {
                            console.log("edge not found: " + edgeId);
                            continue;
                        }

                        if ('hidden_list' in allEdges[edgeId]) {
                            allEdges[edgeId].hidden = allEdges[edgeId].hidden_list[step];
                            updateEdgeArray.push(allEdges[edgeId]);
                        }
                    }
                    edges.update(updateEdgeArray);
                }

                function updateNodeHidden(step) {
                    var updateNodeArray = [];
                    for (let nodeId in allNodes) {
                        if (!allNodes.hasOwnProperty(nodeId)) {
                            console.log("Node not found: " + nodeId);
                            continue;
                        }

                        if ('hidden_list' in allNodes[nodeId]) {
                            allNodes[nodeId].hidden = allNodes[nodeId].hidden_list[step];
                            updateNodeArray.push(allNodes[nodeId]);
                        }
                    }
                    nodes.update(updateNodeArray);
                }

                

              {%  endif %}
                  


              {% if ml_menu %}
                if (window.addEventListener) {
                    window.addEventListener('load',setDefaultValues, false); //W3C
                } else {
                    window.attachEvent('onload',setDefaultValues); //IE
                }
                
                let utilization_checkbox = document.getElementById("utilizationCheckbox");
                let probability_checkbox = document.getElementById("probabilityCheckbox");
                let step_slider = document.getElementById("stepRange");
                let step_text = document.getElementById("stepValue");


                function setDefaultValues() {
                    utilization_checkbox.checked = ml_options['showUtilization'];
                    probability_checkbox.checked = ml_options['showProbability'];
                    step_slider.value = ml_options['step'];
                    step_text.innerHTML = "Base ADG";

                    dfg_selector.value = dfg_selector.options[dfg_selector.selectedIndex].value;
                    ml_options['dfg_file'] = dfg_selector.value;

                    setSliderMax();

                }

                function getMaxSteps() {
                    return dfg_steps[ml_options['dfg_file']];
                }

                function setSliderMax() {
                    max_steps = dfg_steps[ml_options['dfg_file']];
                    if (parseInt(step_slider.value) > max_steps) {
                        step_text.textContent = "Base ADG";
                        step_slider.value = -1;
                    }
                    
                    step_slider.max = dfg_steps[ml_options['dfg_file']];


                }

                function selectDFG(value) {
                    if (value != ml_options['dfg_file']) {
                        ml_options['dfg_file'] = value;
                        setSliderMax();
                        updateColors();
                    }
                }

                function updateUtilization() {
                    value = utilization_checkbox.checked;
                    if (value != ml_options['showUtilization']) {
                        ml_options['showUtilization'] = value;
                        updateColors();
                    }
                }

                function updateProbability() {
                    value = probability_checkbox.checked;
                    if (value != ml_options['showProbability']) {
                        ml_options['showProbability'] = value;
                        updateColors();
                    }
                }

                function updateStep(value) {
                    new_step = parseInt(value);
                    if (new_step != ml_options['step']) {
                        ml_options['step'] = new_step;
                        
                        if (new_step == -1) {
                            step_text.textContent = "Base ADG";
                        } else {
                            step_text.textContent = "Step " + value;
                        }

                        updateColors();
                    }
                }

                function updateColors() {
                    updateText();
                    updateEdgeColors();
                    updateNodeColors();
                }

                function updateText() {
                    dfg_file = ml_options['dfg_file'];
                    step = ml_options['step'];

                    if (step == -1 || !dfg_info[dfg_file].hasOwnProperty(step)) {
                        reward_text.textContent = "Reward:";
                        overprov_text.textContent = "Overprov:";
                        violation_text.textContent = "Violation:";
                        latency_text.textContent = "Latency:";
                        links_text.textContent = "Links:";
                    } else {
                        info = dfg_info[dfg_file][step];
                        
                        if (info.hasOwnProperty('reward')) {
                            reward_text.textContent = "Reward: " + (+info['reward'].toFixed(2));
                        } else {
                            reward_text.textContent = "Reward:";
                        }

                        if (info.hasOwnProperty('agg_overprovisioning')) {
                            overprov_text.textContent = "Overprov: " + (+info['agg_overprovisioning'].toFixed(2));
                        } else {
                            overprov_text.textContent = "Overprov:";
                        }

                        if (info.hasOwnProperty('violation')) {
                            violation_text.textContent = "Violation: " + (+info['violation'].toFixed(2));
                        } else {
                            violation_text.textContent = "Violation:";
                        }

                        if (info.hasOwnProperty('latency')) {
                            latency_text.textContent = "Latency: " + (+info['latency'].toFixed(2));
                        } else {
                            latency_text.textContent = "Latency:";
                        }

                        if (info.hasOwnProperty('links_mapped')) {
                            links_text.textContent = "Links: " + (+info['links_mapped'].toFixed(2));
                        } else {
                            links_text.textContent = "Links:";
                        }
                    }
                }

                function updateEdgeColors() {
                    var updateEdgeArray = [];
                    
                    dfg_file = ml_options['dfg_file'];
                    step = ml_options['step'];
                    utilization = ml_options['showUtilization']


                    for (let edgeId in allEdges) {
                        if (!allEdges.hasOwnProperty(edgeId)) {
                            console.log("edge not found: " + edgeId);
                            continue;
                        }

                        if (step == -1) {
                            allEdges[edgeId].color = allEdges[edgeId].base_color;
                        } else {
                            allEdges[edgeId].color = allEdges[edgeId].grey_color;

                            if (utilization) {
                                utilization_colors = allEdges[edgeId].utilization_colors[dfg_file]

                                if (utilization_colors.hasOwnProperty(step)) {
                                    allEdges[edgeId].color = utilization_colors[step];
                                }
                            }
                        }

                        updateEdgeArray.push(allEdges[edgeId]);
                    }
                    edges.update(updateEdgeArray);
                }

                function updateNodeColors() {
                    var updateNodeArray = [];

                    dfg_file = ml_options['dfg_file'];
                    step = ml_options['step'];
                    utilization = ml_options['showUtilization']
                    probabilities = ml_options['showProbability']
                    
                    for (let nodeId in allNodes) {
                        if (!allNodes.hasOwnProperty(nodeId)) {
                            console.log("nodeId not found: " + nodeId);
                            continue;
                        }

                        if (step == -1) {
                            allNodes[nodeId].color = allNodes[nodeId].base_color;
                        } else {
                            allNodes[nodeId].color = allNodes[nodeId].grey_color;

                            if (probabilities) {
                                probability_colors = allNodes[nodeId].probability_colors[dfg_file]

                                if (probability_colors.hasOwnProperty(step)) {
                                    allNodes[nodeId].color = probability_colors[step];
                                }
                            }

                            if (utilization) {
                                utilization_colors = allNodes[nodeId].utilization_colors[dfg_file]
    
                                if (utilization_colors.hasOwnProperty(step)) {
                                    allNodes[nodeId].color = utilization_colors[step];
                                }
                            }

                            if (allNodes[nodeId]['highlight_step'][dfg_file].hasOwnProperty(step)) {
                                allNodes[nodeId].color = {
                                    background: allNodes[nodeId].color,
                                    border: allNodes[nodeId]['highlight_step'][dfg_file][step],
                                }
                            }
                        }
                        
                        
                        updateNodeArray.push(allNodes[nodeId]);
                    }
                    nodes.update(updateNodeArray);
                }

              {%  endif %}

              {% if filter_menu %}
                  // explicitly using onItemAdd and this function as we need to save multiple values
                  let updateValueFilter = function() {
                      return function () {
                      filter['value'].push(arguments[0])
                      }
                  }

                  let valueControl = new TomSelect("#select-value",{
                      maxItems: null,
                      valueField: 'id',
                      labelField: 'title',
                      searchField: 'title',
                      create: false,
                      sortField: {
                          field: "text",
                          direction: "asc"
                      },
                      onItemAdd: updateValueFilter()
                  });

                  let addValues = function() {
                      return function () {
                          // clear the current value options and add the selected attribute values
                          // tom-select handles duplicates
                          let selectedProperty = arguments[0];
                          valueControl.clear();
                          valueControl.clearOptions();
                          filter['value'] = []
                          if (filter['item'] === 'node') {
                              for (let each in allNodes) {
                                  valueControl.addOption({
                                      id:allNodes[each][selectedProperty],
                                      title:allNodes[each][selectedProperty]
                                  })
                              }
                          }
                          else if (filter['item'] === 'edge') {
                              for (let each in allEdges) {
                                  valueControl.addOption({
                                      id:allEdges[each][selectedProperty],
                                      title:allEdges[each][selectedProperty]
                                  })
                              }
                          }
                      }
                  };

                  let propControl = new TomSelect("#select-property",{
                      valueField: 'id',
                      labelField: 'title',
                      searchField: 'title',
                      create: false,
                      sortField: {
                          field: "text",
                          direction: "asc"
                      },
                      onItemAdd: addValues()
                  });

                  let addProperties = function() {
                      return function () {
                          // loops through the selected network item and adds the attributes to dropdown
                          // tom-select handles duplicates
                          clearFilter(false)
                          if (arguments[0] === 'edge') {
                              for (let each in allEdges) {
                                  if (allEdges.hasOwnProperty(each)) {
                                      for (let eachProp in allEdges[each]) {
                                          if (allEdges[each].hasOwnProperty(eachProp)) {
                                              propControl.addOption({id: eachProp, title: eachProp})
                                          }
                                      }
                                  }
                              }
                          }
                          else if (arguments[0] === 'node') {
                              for (let each in allNodes) {
                                  if (allNodes.hasOwnProperty(each)) {
                                      for (let eachProp in allNodes[each]) {
                                          if (allNodes[each].hasOwnProperty(eachProp)
                                              && (eachProp !== 'hidden' && eachProp !== 'savedLabel'
                                                  && eachProp !== 'hiddenLabel')) {
                                              propControl.addOption({id: eachProp, title: eachProp})

                                          }
                                      }
                                  }
                              }
                          }
                      }
                  };

                  let itemControl = new TomSelect("#select-item",{
                      create: false,
                      sortField:{
                          field: "text",
                          direction: "asc"
                      },
                      onItemAdd: addProperties()
                  });

                  function clearFilter(reset) {
                      // utility function to clear all the selected filter options
                      // if reset is set to true, the existing filter will be removed
                      // else, only the dropdown options are cleared
                      propControl.clear();
                      propControl.clearOptions();
                      valueControl.clear();
                      valueControl.clearOptions();
                      filter = {
                          item : '',
                          property : '',
                          value : []
                      }
                      if (reset) {
                          itemControl.clear();
                          filterHighlight({nodes: []})
                      }
                  }

                  function updateFilter(value, key) {
                      // key could be 'item' or 'property' and value is as selected in dropdown
                      filter[key] = value
                  }

              {%  endif %}

              // This method is responsible for drawing the graph, returns the drawn network
              function drawGraph() {
                  var container = document.getElementById('mynetwork');

                  {% if use_DOT %}

                  var DOTstring = "{{dot_lang|safe}}";
                  var parsedData = vis.network.convertDot(DOTstring);

                  data = {
                    nodes: parsedData.nodes,
                    edges: parsedData.edges
                  }

                  var options = parsedData.options;
                  options.nodes = {
                      shape: "dot"
                  }

                  {% else %}

                  // parsing and collecting nodes and edges from the python
                  nodes = new vis.DataSet({{nodes|tojson}});
                  edges = new vis.DataSet({{edges|tojson}});

                  nodeColors = {};
                  allNodes = nodes.get({ returnType: "Object" });
                  for (nodeId in allNodes) {
                    nodeColors[nodeId] = allNodes[nodeId].color;
                  }
                  allEdges = edges.get({ returnType: "Object" });
                  // adding nodes and edges to the graph
                  data = {nodes: nodes, edges: edges};

                  var options = {{options|safe}};

                  {% endif %}


                  {% if conf %}
                  // if this network requires displaying the configure window,
                  // put it in its div
                  options.configure["container"] = document.getElementById("config");
                  {% endif %}

                  network = new vis.Network(container, data, options);

                  {% if neighborhood_highlight %}
                    network.on("click", neighbourhoodHighlight);
                  {% endif %}

                  {% if select_menu %}
                    network.on("selectNode", neighbourhoodHighlight);
                  {% endif %}

                  {% if tooltip_link %}
                  // make a custom popup
                      var popup = document.createElement("div");
                      popup.className = 'popup';
                      popupTimeout = null;
                      popup.addEventListener('mouseover', function () {
                          console.log(popup)
                          if (popupTimeout !== null) {
                              clearTimeout(popupTimeout);
                              popupTimeout = null;
                          }
                      });
                      popup.addEventListener('mouseout', function () {
                          if (popupTimeout === null) {
                              hidePopup();
                          }
                      });
                      container.appendChild(popup);


                      // use the popup event to show
                      network.on("showPopup", function (params) {
                          showPopup(params);
                      });

                      // use the hide event to hide it
                      network.on("hidePopup", function (params) {
                          hidePopup();
                      });

                      // hiding the popup through css
                      function hidePopup() {
                          popupTimeout = setTimeout(function () { popup.style.display = 'none'; }, 500);
                      }

                      // showing the popup
                      function showPopup(nodeId) {
                          // get the data from the vis.DataSet
                          var nodeData = nodes.get([nodeId]);
                          popup.innerHTML = nodeData[0].title;

                          // get the position of the node
                          var posCanvas = network.getPositions([nodeId])[nodeId];

                          // get the bounding box of the node
                          var boundingBox = network.getBoundingBox(nodeId);

                          //position tooltip:
                          posCanvas.x = posCanvas.x + 0.5 * (boundingBox.right - boundingBox.left);

                          // convert coordinates to the DOM space
                          var posDOM = network.canvasToDOM(posCanvas);

                          // Give it an offset
                          posDOM.x += 10;
                          posDOM.y -= 20;

                          // show and place the tooltip.
                          popup.style.display = 'block';
                          popup.style.top = posDOM.y + 'px';
                          popup.style.left = posDOM.x + 'px';
                      }
                  {% endif %}


                  {% if nodes|length > 100 and physics_enabled %}
                      network.on("stabilizationProgress", function(params) {
                          document.getElementById('loadingBar').removeAttribute("style");
                          var maxWidth = 496;
                          var minWidth = 20;
                          var widthFactor = params.iterations/params.total;
                          var width = Math.max(minWidth,maxWidth * widthFactor);
                          document.getElementById('bar').style.width = width + 'px';
                          document.getElementById('text').innerHTML = Math.round(widthFactor*100) + '%';
                      });
                      network.once("stabilizationIterationsDone", function() {
                          document.getElementById('text').innerHTML = '100%';
                          document.getElementById('bar').style.width = '496px';
                          document.getElementById('loadingBar').style.opacity = 0;
                          // really clean the dom element
                          setTimeout(function () {document.getElementById('loadingBar').style.display = 'none';}, 500);
                      });
                  {% endif %}

                  return network;

              }
              drawGraph();
        </script>
    </body>
</html>
